<% layout('layouts/boilerplate') %>
    <form action="/register" class="validated-form" method="POST" novalidate>
        <div class="card col-xl-6 offset-xl-3 shadow mb-3">
            <img src="https://images.unsplash.com/photo-1592488699966-ae4e40d14b67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                class="card-img-top" alt="">
            <div class="card-header">
                <h3 class="text-success">Register</h1>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required autofocus>
                    <div class="valid-feedback">
                        Nice!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <div class="valid-feedback">
                        Cool!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <div class="valid-feedback">
                        Cool!
                    </div>
                </div>
            </div>
            <button class="btn btn-success btn-block">Register</button>
        </div>
    </form>