<footer class="footer bg-light text-success py-3 mt-auto">
    <div class="container">
        <span class="fw-bolder fs-5">find-a-masjid</span>
        <span class="fs-6 fw-lighter">2022</span>
    </div>
</footer>