<!--form to edit masjid-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Masjid</title>
</head>

<body>
    <h1>Edit Masjid</h1>
    <form action="/masajid/<%= masjid._id%>?_method=PUT" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" , id="name" , name="masjid[name]" value="<%= masjid.name %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" , id="location" , name="masjid[location]" value="<%= masjid.location %>">
        </div>
        <button>Update Masjid</button>
    </form>

    <a href="/masajid/<%= masjid._id%>">Back</a>
</body>

</html>