<!--form to create new masjid with boilerplate-->
<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Add New Masjid</h1>
        <div class="col-6 offset-3">
            <form action="/masajid" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input class="form-control" type="text" , id="name" , name="masjid[name]">
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control type=" text" , id="location" , name="masjid[location]"
                        placeholder="City, State">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input class="form-control type=" text" , id="image" , name="masjid[image]">
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Masjid</button>
                </div>
            </form>

            <a href="/masajid">All Masajid</a>
        </div>
    </div>