<!--form to create new masjid-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Masjid</title>
</head>

<body>
    <form action="/masajid" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" , id="name" , name="masjid[name]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" , id="location" , name="masjid[location]">
        </div>
        <button>Add Masjid</button>
    </form>

    <a href="/masajid">All Masajid</a>
</body>

</html>